<p-dialog 
    header="Crear Proyecto" 
    (onHide)="onCloseDialog()" 
    [(visible)]="projectCreatorVisible" 
    [baseZIndex]="10000" 
    [style]="{width: '100%', maxWidth: '600px', margin: '0 auto'}"
>
    <div class="p-fluid p-grid p-formgrid">
        <form class="w-full max-w-lg mx-auto space-y-4">
            <!-- Nombre del Proyecto -->
            <div class="p-field">
                <label for="nombreP" class="block text-sm font-medium text-gray-700">Proyecto:</label>
                <input 
                    id="nombreP" 
                    name="nombreP" 
                    pInputText
                    type="text"
                    [(ngModel)]="nombreProyecto" 
                    placeholder="Nombre del Proyecto" 
                    class="w-full"
                />
            </div>

            <!-- Añadir Colaboradores -->
            <div class="p-field">
                <label for="nombreC" class="block text-sm font-medium text-gray-700">Colaborador:</label>
                    <div class="block justify-center">
                    <input 
                        id="nombreC" 
                        name="nombreC" 
                        pInputText 
                        type="text"
                        [(ngModel)]="nombreColaborador" 
                        placeholder="Nombre del Colaborador" 
                        class="w-60"
                    />
                    <input 
                        id="correo" 
                        name="correo"
                        type="email" 
                        pInputText 
                        [(ngModel)]="correoColaborador" 
                        placeholder="alguien@ejemplo.com" 
                        class="w-60 ml-8"
                    />
                </div>
            </div>

            <div class="p-field flex justify-center">
                <p-button 
                    variant="text" 
                    label="Añadir colaborador" 
                    (click)="addColaborador()"
                    class="w-full"
                    (keydown.enter)="addColaborador()"
                ></p-button>
            </div>  

            <!-- Lista de Colaboradores -->
            <div class="p-field">
                <p *ngIf="colaboradores.length > 0" class="block text-sm font-medium text-gray-700">Colaboradores:</p>
                    <div 
                        class="overflow-y-auto max-h-28 p-3 space-y-2"
                    >
                        <div *ngFor="let colaborador of colaboradores" 
                            class="p-2 rounded-md shadow flex justify-between items-center">
                            <span class="text-gray-700">{{ colaborador.nombreC }} - {{ colaborador.correo }}</span>
                            <p-button 
                                icon="pi pi-trash" 
                                class="ml-2 p-button-text text-red-500 hover:text-red-700"
                                (click)="removeColaborador(colaborador.idC)"
                                (keydown.enter)="removeColaborador(colaborador.idC)"
                            ></p-button>
                        </div>
                    </div>
                
            </div>

            <div class="p-field flex justify-center">
                <p-button class="w-full" label="Crear Proyecto" (click)="createProject()" (keydown.enter)="createProject()"></p-button>
            </div>
        </form>
    </div>
</p-dialog>
