<div class="p-6 bg-gray-50">
    <div class="flex gap-4 mb-4">
        <div>
            <button (click)="filtrado = filtrado == false ? true : false;" class="p-button p-button-text">
                Filtrar
            </button>
        </div>
        <div>
            <button (click)="agrupado = agrupado ? false : true;" class="p-button p-button-text">
                Agrupar
            </button>
        </div>
    </div>
    @if(filtrado) {
        <div class="flex gap-4 mb-4">
            <div class="flex items-center gap-2">
                <label class="text-sm text-gray-700">Pendiente
                <input type="checkbox" [(ngModel)]="estado.pendiente" (change)="filtrarTareas(tareasFiltradas, tareas); agrupacion.prioridad ? agruparTareas() : null" class="p-checkbox">
                </label>
            </div>
            <div class="flex items-center gap-2">
                <label class="text-sm text-gray-700">En curso
                <input type="checkbox" [(ngModel)]="estado.enCurso" (change)="filtrarTareas(tareasFiltradas, tareas); agrupacion.prioridad ? agruparTareas() : null" class="p-checkbox">
                </label>
            </div>
            <div class="flex items-center gap-2">
                <label class="text-sm text-gray-700">Completado
                <input type="checkbox" [(ngModel)]="estado.completado" (change)="filtrarTareas(tareasFiltradas, tareas); agrupacion.prioridad ? agruparTareas() : null" class="p-checkbox">
                </label>
            </div>
            <div class="flex items-center gap-2">
                <label class="text-sm text-gray-700">Atrasado
                <input type="checkbox" [(ngModel)]="estado.atrasado" (change)="filtrarTareas(tareasFiltradas, tareas); agrupacion.prioridad ? agruparTareas() : null" class="p-checkbox">
                </label>
            </div>
        </div>
    }
    @if(agrupado) {
        <div class="mb-4">
            <div class="flex items-center gap-2">
                <label for="checkPrioridadAgrup" class="text-sm text-gray-700">Prioridad
                <input id="checkPrioridadAgrup" type="checkbox" [(ngModel)]="agrupacion.prioridad" (change)="agruparTareas()" class="p-checkbox">
                </label>
            </div>
        </div>
    }
    <table class="table-auto w-full border-collapse border border-gray-300">
        <thead>
            <tr class="bg-gray-200 text-left">
                <th class="p-2 border border-gray-300">Tarea</th>
                <th class="p-2 border border-gray-300">Colaboradores</th>
                <th class="p-2 border border-gray-300">Fecha de inicio</th>
                <th class="p-2 border border-gray-300">Fecha de fin</th>
                <th class="p-2 border border-gray-300">Etiquetas</th>
                <th class="p-2 border border-gray-300">Prioridad</th>
                <th class="p-2 border border-gray-300">Estado</th>
                <th class="p-2 border border-gray-300">Progreso</th>
                <th class="p-2 border border-gray-300">Completar</th>
            </tr>
        </thead>
        @if(agrupacion.prioridad) {
            @for(tareaAgrupada of tareasAgrupadas; track $index) {
                <tbody>
                    @for(tareaDe of tareaAgrupada; track tareaDe.idT) {
                        <tr class="hover:bg-gray-100">
                            <td class="p-2 border border-gray-300">{{tareaDe.nombreT}}</td>
                            <td class="p-2 border border-gray-300"> 
                                <div class="flex items-center gap-2">
                                    <app-colaborador-picker 
                                    [idP] = "idP"
                                    (onPick)="anadirColaborador(tareaDe, $event)"
                                    ></app-colaborador-picker>
                                <div class="flex items-center gap-2">
                                @for(colaborador of tareaDe.colaboradores; track colaborador.idC){
                                    <p-chip label="{{colaborador.nombreC}}" [removable]="true" (onRemove)="eliminarColaborador(tareaDe, colaborador.idC)"/>
                                    <br>
                                }
                                </div>
                                <div class="flex items-center gap-2">
                                    <app-colaborador-picker 
                                    [idP] = "idP"
                                    (onPick)="anadirColaborador(tareaDe, $event)"
                                    ></app-colaborador-picker>
                                </div>
                                </div>
                            </td>
                            <td class="p-2 border border-gray-300">{{formatDate(tareaDe.fechaInicio)}}</td>
                            <td class="p-2 border border-gray-300">{{formatDate(tareaDe.fechaFin)}}</td>
                            <td class="p-2 border border-gray-300">
                                <div class="flex items-center gap-2">
                                    
                                    <div class="flex items-center gap-2">
                                    @for(etiqueta of tareaDe.etiquetas; track etiqueta.idE){
                                        <p-chip label="{{etiqueta.nombreE}}" [removable]="true" (onRemove)="eliminarEtiqueta(tareaDe, etiqueta.idE)"/>
                                        <br>
                                    }
                                    </div>
                                    <div class="flex items-center gap-2"> 
                                        <app-tag-picker (onPick)="anadirEtiqueta(tareaDe, $event)"></app-tag-picker>
                                    </div>
                                </div>
                            </td>
                            <td class="p-2 border border-gray-300">{{tareaDe.prioridad}}</td>
                            <td class="p-2 border border-gray-300">
                                {{calcularEstado(tareaDe.fechaInicio, tareaDe.fechaFin, tareaDe.completado)}}
                            </td>
                            <td class="p-2 border border-gray-300"><p-progressbar [value]="calcularProgreso(tareaDe)"/></td>
                            <td class="p-2 border border-gray-300"><p-checkbox [(ngModel)]="tareaDe.completado"  [binary]="true" (onChange)="actualizarCompletado(tareaDe)" /></td>
                        </tr>
                    }
                </tbody>
                <hr>
            }
        } @else {
            <tbody>
                @if(estado.pendiente || estado.completado || estado.enCurso || estado.atrasado) {
                    @for (tarea of tareasFiltradas; track tarea.idT) {
                        <tr class="hover:bg-gray-100">
                            <td class="p-2 border border-gray-300">{{tarea.nombreT}}</td>
                            <td class="p-2 border border-gray-300">
                                <div class="flex items-center gap-2">
                                <div class="flex items-center gap-2">
                                @for(colaborador of tarea.colaboradores; track colaborador.idC){
                                    <p-chip label="{{colaborador.nombreC}}" [removable]="true" (onRemove)="eliminarColaborador(tarea, colaborador.idC)"/>
                                    <br>
                                }
                                </div>
                                <div class="flex items-center gap-2">
                                    <app-colaborador-picker 
                                    [idP] = "idP"
                                    (onPick)="anadirColaborador(tarea, $event)"
                                    ></app-colaborador-picker>
                                </div>
                                </div>
                            </td>
                            <td class="p-2 border border-gray-300">{{formatDate(tarea.fechaInicio)}}</td>
                            <td class="p-2 border border-gray-300">{{formatDate(tarea.fechaFin)}}</td>
                            <td class="p-2 border border-gray-300">
                                <div class="flex items-center gap-2">
                                    
                                    <div class="flex items-center gap-2">
                                    @for(etiqueta of tarea.etiquetas; track etiqueta.idE){
                                        <p-chip label="{{etiqueta.nombreE}}" [removable]="true" (onRemove)="eliminarEtiqueta(tarea, etiqueta.idE)"/>
                                        <br>
                                    }
                                    </div>
                                    <div class="flex items-center gap-2"> 
                                        <app-tag-picker (onPick)="anadirEtiqueta(tarea, $event)"></app-tag-picker>
                                    </div>
                                </div>
                            </td>
                            <td class="p-2 border border-gray-300">{{tarea.prioridad}}</td>
                            <td class="p-2 border border-gray-300">
                                {{calcularEstado(tarea.fechaInicio, tarea.fechaFin, tarea.completado)}}
                            </td>
                            <td class="p-2 border border-gray-300"><p-progressbar [value]="calcularProgreso(tarea)" /></td>
                            <td class="p-2 border border-gray-300"><p-checkbox [(ngModel)]="tarea.completado" [binary]="true" (onChange)="actualizarCompletado(tarea)" /></td>
                        </tr>
                    }
                } @else {
                    @for (tarea of tareas; track tarea.idT) {
                        <tr class="hover:bg-gray-100">
                            <td class="p-2 border border-gray-300">{{tarea.nombreT}}</td>
                            <td class="p-2 border border-gray-300">
                            <div class="flex items-center gap-2">
                                <div class="flex items-center gap-2">
                                @for(colaborador of tarea.colaboradores; track colaborador.idC){
                                    <p-chip label="{{colaborador.nombreC}}" [removable]="true" (onRemove)="eliminarColaborador(tarea, colaborador.idC)"/>
                                    <br>
                                }
                                </div>
                                <div class="flex items-center gap-2">
                                    <app-colaborador-picker 
                                    [idP] = "idP"
                                    (onPick)="anadirColaborador(tarea, $event)"
                                    ></app-colaborador-picker>
                                </div>
                                </div>
                            </td>
                            <td class="p-2 border border-gray-300">{{formatDate(tarea.fechaInicio)}}</td>
                            <td class="p-2 border border-gray-300">{{formatDate(tarea.fechaFin)}}</td>
                            <td class="p-2 border border-gray-300"> 
                                <div class="flex items-center gap-2">
                                    
                                    <div class="flex items-center gap-2">
                                    @for(etiqueta of tarea.etiquetas; track etiqueta.idE){
                                        <p-chip label="{{etiqueta.nombreE}}" [removable]="true" (onRemove)="eliminarEtiqueta(tarea, etiqueta.idE)"/>
                                        <br>
                                    }
                                    </div>
                                    <div class="flex items-center gap-2"> 
                                        <app-tag-picker (onPick)="anadirEtiqueta(tarea, $event)"></app-tag-picker>
                                    </div>
                                </div>
                            </td>
                            <td class="p-2 border border-gray-300">{{tarea.prioridad}}</td>
                            <td class="p-2 border border-gray-300">
                                {{calcularEstado(tarea.fechaInicio, tarea.fechaFin, tarea.completado)}}
                            </td>
                            <td class="p-2 border border-gray-300"><p-progressbar [value]="calcularProgreso(tarea)" /></td>
                            <td class="p-2 border border-gray-300"><p-checkbox [binary]="true" [(ngModel)]="tarea.completado" (onChange)="actualizarCompletado(tarea)" /></td>
                        </tr>
                    }
                }
            </tbody>
        }
    </table>
</div>
